$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-burger: "\e900";
$icon-circle-minus: "\e901";
$icon-circle-plus: "\e902";
$icon-close: "\e903";
$icon-facebook: "\e904";
$icon-inst: "\e905";
$icon-linkedin: "\e906";
$icon-mail: "\e907";
$icon-person: "\e908";
$icon-skype: "\e909";
$icon-telegram: "\e90a";
$icon-triangle-down: "\e90b";

