// $text1: #ffffff;
$white: #ffffff;
$black: #1b2330;
$gradientIcon: linear-gradient(87.09deg, #ffffff -11.72%, #787878 98.7%);
$gradientGreen: linear-gradient(87.09deg, #95f400 -11.72%, #159833 98.7%);
.h1 {
   font-family: "FuturaDemiC";
   font-weight: 400;
   font-size: 45px;
   line-height: 55px;
   @media (max-width: 575.98px) {
      font-size: 35px;
      line-height: 45px;
   }
}
.h2 {
   font-family: "FuturaDemiC";
   font-weight: 400;
   font-size: 40px;
   line-height: 50px;
   @media (max-width: 575.98px) {
      font-size: 30px;
      line-height: 40px;
   }
}
.h3 {
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   @media (max-width: 575.98px) {
      font-size: 16px;
      line-height: 20px;
   }
}
.h4 {
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 20px;
   }
}
.h5 {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   @media (max-width: 575.98px) {
      font-size: 12px;
      line-height: 15px;
   }
}
@media (max-width: 575.98px) {
}
@media (min-width: 576px) {
}
