html,
body {
	// height: 100%
	min-height: 100vh;
	font-family: "Avenir Next Cyr";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	color: $white;
	overflow-x: hidden;
	background: linear-gradient(180deg, #0f1825 0%, #0a2a59 100%);
	@media (max-width: 575.98px) {
		font-size: 12px;
		line-height: 15px;
	}
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 25px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}
//Ввод данных конец
.checkbox {
	position: relative;
}
.checkbox-none,
.radio-none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox-style {
	display: block;
	cursor: pointer;
}
.checkbox-none:checked + .checkbox-style {
}
.radio-style {
	position: relative;
	display: block;
	cursor: pointer;
}
.radio-none:checked + .radio-style::before {
	content: " ";
}

// поле ввода
.input {
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	padding: 11px 18px;
	color: $white;
	flex: 1 1 auto;
	&::placeholder {
		color: $white;
	}

	&__block {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.error {
			.input {
				color: #ff6666;
				&::placeholder {
					color: #ff6666;
				}
			}
			.input__box {
				border-color: #ff6666;
			}
		}
		&.error-none {
			.input__error-none {
				display: block;
			}
		}
		&.error-wrong {
			.input__error-wrong {
				display: block;
			}
		}
	}

	&__box {
		width: 100%;
		border-bottom: 1px solid $white;
		display: flex;
	}

	&__error {
		display: none;
		font-weight: 450;
		padding-left: 18px;
		margin-top: 10px;
		font-size: 14px;
		line-height: initial;
		color: #ff6666;
	}

	&__error-none {
		// display: block;
	}

	&__error-wrong {
	}
}
// поле ввода конец

.anchor {
	padding-top: 80vh;
	-webkit-background-clip: content-box;
	background-clip: content-box;
	margin-top: -80vh;
	display: inline-block;
	position: relative;
	height: 1px;
	width: 1px;
}
