@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yb6nl3") format("truetype"),
    url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yb6nl3") format("woff"),
    url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yb6nl3##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger {
  &:before {
    content: $icon-burger;
  }
}
.icon-circle-minus {
  &:before {
    content: $icon-circle-minus;
  }
}
.icon-circle-plus {
  &:before {
    content: $icon-circle-plus;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-inst {
  &:before {
    content: $icon-inst;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-triangle-down {
  &:before {
    content: $icon-triangle-down;
  }
}
